@import "helpers/master";
@import "components/master";
@import "layouts/master";
@import "pages/master";
// sass assets/src/scss/style.scss assets/css/style.css
//sass --watch assets/scss/style.scss:assets/css/style.css
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif; 
}
